.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App {
  padding-top:35px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.message {
  display: inline-block;
  color: white;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 5px auto;
  background-color: deepskyblue;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.message:hover {
  background-color: darkcyan;
  color: #ccccc;
}
